.swap {

    &-input {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: var(--main-bg);
        border-radius: 20px;
        padding: 7px 14px;
        color: var(--main-color);
    }

    &__button {
        background: var(--black);
    }

    &__input {
        max-width: 145px;
        background: transparent !important;
        padding: unset;
        border: none;

        &:focus-within {
            border: none;
        }
    }
}